.header {
    background-color: #FA8232;
    padding: 1rem;
    color: white;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-grow: 1; 
    max-width: 600px; 
}

.search-container input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.search-container .search-icon {
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: #272727;
    cursor: pointer;
}

.Icons-right {
    display: flex;
    gap: 20px;
    padding-left: 1rem;
    font-size: larger;
    padding-right: 10px;
    cursor: pointer;
}


.Sub-header {
    background-color: #ffffff;
    padding: 1rem;
    

}


.category{
    background-color: ccc;
    width: 110px;
    border: none;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px
}


.box{
    background-color: white;
    width: 150px;
    border: none;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px 
}