.header {
    background-color: #FA8232;
    padding: 1rem;
    color: white;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    color: antiquewhite;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-grow: 1; 
    max-width: 600px; 
}

.search-container input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.search-container .search-icon {
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: #272727;
    cursor: pointer;
}

.Icons-right {
    display: flex;
    gap: 20px;
    padding-left: 1rem;
    font-size: larger;
    padding-right: 10px;
    cursor: pointer;
}


.Sub-header {
    background-color: #ffffff;
    padding: .6rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.Sub-header > p {
    font-size: 16px;
    
}

.right-box {
    display: flex;
    gap: 30px;
}

.box{
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    height: 40px;
    min-width: 100px;
    margin-top: 5;
    font-size: 16px; 
}

.icons-left{
    padding-right: 7px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 10px;
    }

    .search-container input {
        width: 100%;
        margin: 10px 0;
    }
    .right-box{
        flex-wrap: wrap;
    }
}
